@import "bootstrap/bootstrap";
@import "fonts";

/* Pure Colors*/
$hd-blue: rgb(72,81,158);
$hd-purple: rgb(51, 6, 74); 
$hd-red: rgb(233,74,72);
$hd-green: rgb(0, 102, 51);
$hd-white: #FFFFFF;
$hd-gray: rgb(102,102,102);
$hd-yellow: rgb(255,255,0);
$hd-light: rgb(237, 237, 237);

/* Colors with opacity */
$rgba-black: rgba(0, 0, 0,0.80);
$rgba-blue: rgba(48, 61, 136, 0.85);
$rgba-green: rgba(0, 102, 51, 0.7);
$rgba-purple: rgba(51, 6, 74, 0.89);
$rgba-lgtblue:rgba(44, 151, 199,0.7);

/* Images */
$bkimg1: '../img/SAPBUSINESSONE.png';
$bkimg2: '../img/SAPFINANZAS.png';
$bkimg3: '../img/SAPGESTIONDEMATERIALES.png';

/* Main CSS */
html,
body {
  height: 100%;
  
}

/* Body content */
.body-margin{
  margin-top: 4%;
}

#page-content {
  flex: 1 0 auto;
  margin-top: 8%;
  
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(51, 6, 74)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Navbar */
.navbar-item{
    padding-left:30px;
    padding-right:30px;
    color: $hd-gray !important;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none !important;
    span:hover{
      border-bottom: 4px solid;
      border-color: $rgba-green;
    }
}

.dropdown-menu{
  border-radius: 0px;
  .dropdown-item{
    font-family: Gothan Book;
    font-weight: bold;
    color: $hd-gray;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navbar-custom {
    background-color: $hd-white;
}


/* Custom image size */
img{
  width: 100%;
  height: 100%;
}

.logo{
  max-width: 50%;
  max-height: auto;
}

.footer-icon{
  width: 5%;
  height: auto;
}

/* Background images for Carrousel*/

.bkimg1{
  background-image: url($bkimg1);
  background-size:     cover; 
}

.bkimg2{
  background-image: url($bkimg2);
  background-size:     cover; 
}

.bkimg3{
  background-image: url($bkimg3);
  background-size:     cover; 
}

.bkimg-det{       
  background-repeat:   no-repeat;
  background-position: center;    
  max-height: 1000px;
  max-width: 2000px;
}

.bklayer{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bklyr-color1{
  background-color: $rgba-purple;
}

.bklyr-color2{
  background-color: $rgba-green;
}

.bklyr-color3{
  background-color: $rgba-lgtblue;
}

.bklyr-color4{
  background-color: $rgba-blue;
}

/* Body Head Content */

.home-banner {
  padding: 30px;
  h2{
    text-align: center;
    color: $hd-white;
    font-family: Gothan;
  }

  h4{
    color: $hd-yellow;
    text-align: center;
    font-family: Gothan ;
    font-weight: bold;
  }

  

  .sub{
    color: $hd-white;
    text-align: center;
    font-family: Gothan;
    font-weight: bold;
  }

  .btn-entrar{
    text-align: center;
    span{
      background-color: $hd-green;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 5px;
      padding-top: 5px;
      border-radius: 5px;
    }
    a{
      text-decoration: none;
      color: $hd-white;
      font-size: 14px;
      font-family: Gothan Book;
      
    }
    
  }
}

.curso-banner {
  padding: 50px;
  

  img{
    max-width: 150px;
    max-height: auto;
    padding-bottom: 10px;

  }
  h1{
    color: $hd-white;
    font-family: Gothan;
    font-weight: bold;
    padding-top: 10px;
  }

  p{
    color: $hd-white;
    font-family: Gothan Book;
    font-weight: bold;
    padding-top: 20px;
  }
}

/* Registration Form */
.frm-container{
  background-color: $hd-purple;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-right: 32px;
  padding-left: 32px;
  h4{
    text-align: center;
    color: $hd-white;
    font-family: Gothan;
    font-weight: bold;
  }

  p{
    text-align: justify;
    color: $hd-white;
    font-size: 14px;
    font-family: Gothan Book;
    padding-left: 5px;
    padding-right: 5px;
  }

  input,select{
    border-radius: 5px;
  }

  label{
    font-size: 13px;
    color:$hd-white;
    font-family: Gothan Book;
  }

  .btn-enviar{
    border-radius: 5px;
    /* TODO: Aplicar el formato de color apropiado para el botón Enviar*/
    border-color: $hd-green;
    background-color: $hd-green;
    font-family: Gothan Book;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
  }

  .error{
    color: $hd-red;
    font-size: 13px;
  }
}

.title{

  h1{
    font-family: Gothan;
    font-weight: bold;
    color: $hd-purple;
    text-align: center; 
  }
  h5{
    color: $hd-gray;
    font-family: Gothan Book;
    text-align: center;  
    strong{
      font-family: Gothan;
      font-weight: bold;
      
    }
  }
}


/* SAP Classes Cards*/

.card{
  border-radius: 0px;
  border: 0px;
  height: 450px;
}

.card-content{
  padding-top:5px;
  /* Custom HTML bullets */
  ul {
    list-style: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;
  }
  
  li { 
    padding-left: 16px; 
    text-align: left;
  }
  
  li::before {
    content: "-"; /* Insert content that looks like bullets */
    padding-right: 1px;
    color: $hd-gray; /* Or a color you prefer */
  }
  p{
    text-align: center;
    font-family: Gothan Book;
    font-weight: bold; 
    color: $hd-gray;
  }
  ul li {
    font-family: Gothan Book;
    font-weight: bold;
    font-size: 14px;
    color: $hd-gray;
  }
}

.card-foot{
  background-color: $hd-purple;
  padding:7px;
  color: $hd-white;
  p{
    margin-bottom: 0px;
    text-align: center;
    span{
      font-family: Gothan;
      font-weight: bold;
      font-size: 14px;
    }

    .entrar{
      font-family: Gothan Book;
      font-size: 13px;
      background-color: $hd-green;
      text-decoration: none;
      color: $hd-white;
      margin-left: 10px;
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 7px;
      padding-bottom: 7px;
      border-radius: 5px;
    }
  }

  .green-ray{
    border: 1px $hd-green solid;
  }

}

.card-appart{
  
  p{
    text-align: center;
    margin-bottom: 0px;
  }

  .appart-title{
    font-family: Gothan;
    font-weight: bold;
    color: $hd-gray;
  }

  .appart-sub{
    font-family: Gothan Book;
    font-weight: bold;
    font-size: 14px;
    color: $hd-purple;
    span{
      padding-left: 5px;
      padding-right:5px;
      padding-bottom: 1px;
      border-bottom: 2px $hd-green solid;
    }
  }
}

/* Form Section*/

.bgform{
  background-color: $hd-green;
}

.form-title{
  color: $hd-white;
  padding-top: 40px;
  h5{
    font-family: Gothan Book;
    font-weight: bold;
  }
  p{
    font-family: Gothan Book;
  }
}

.reg-form2{
  padding:30px;
  input,select{
    border-radius: 5px;
  }
  label{
    
    color:$hd-white;
    font-family: Gothan Book;
  }
  .form-row{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn-enviar{
    border-radius: 0px;
    /* TODO: Aplicar el formato de color apropiado para el botón Enviar*/
    border-color: $hd-purple;
    background-color: $hd-purple;
    font-family: Gothan Book;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
  }

  .error{
    color: $hd-red;
    font-size: 13px;
  }
}

/* Benefits Section  */
.bg-benefit{
  background-color: $hd-purple;
  .container{
    padding-bottom:30px;
  }
}

.title2{
  padding-top:50px;
  padding-bottom:30px;
  h2{
    font-family: Gothan;
    font-weight: bold;
    color: $hd-white;
    text-align: center;
    margin-bottom: 0px;
  }
}

.icon-item{
  img{
    width: 70px;
    height: auto;
  }
  p{  
    color: $hd-white;
    font-family: Gothan;
    font-size: 15px;
    padding-top:25px;
  }
}

/* Backup Section*/

.green-underline{
  border-bottom: 2px $hd-green solid;
  padding-right: 30px;
  padding-left: 30px;
}

#title-backup{
  padding-top: 50px;
}

.col-backup{
  padding-top: 80px;
  padding-bottom: 80px;
  img{
    width: 70%;
    height: auto;
  }
}

/* Footer */

/* Footer */
#sticky-footer {
  flex-shrink: 0;
}

.footer-media{
  p{
    
    a{
      text-decoration: none;
      color: $hd-white;
      
    }
  }
}

.bg-footer1{
  background-color: $hd-purple;
}

.bg-footer2{
  background-color: $rgba-black;
  font-family: Gothan Book;
}

.footer-row{
  padding-top: 30px;
  padding-bottom: 20px;
  color: $hd-white;
  font-family: Gothan Book;
  
  font-size: 14.5px;
  text-align: justify;
  h5{
    font-family: Gothan;
    font-weight: bold;
    padding-bottom: 20px;
  }

  .btn-entrar{
    padding-top:10px;
    span{
      background-color: $hd-green;
      padding: 15px;
      border-radius: 5px;
    }
    a{
      text-decoration: none;
      color: $hd-white;
      font-size: 14px;
      font-family: Gothan Book;
      font-weight: bold;
    }
    
  }
}

.circle-border{
  width: 100px;
  height: 100px;
  border: 2px $hd-green solid;
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
  img{
    padding-top: 12px;
    padding-left: 3px;
  }
}

.circle{
  width: 100px;
  height: 100px;
  background: $hd-purple;
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
  img{
    padding:20px;
  }
}

.obj-title{
  h1{
    font-family: Gothan;
    font-weight: bold;
    color: $hd-gray;
    border-bottom: 2px $hd-green solid;
  }
}

.obj-list{


   /* Custom HTML bullets */
   ul {
    list-style: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;
  }
  
  li { 
    padding-left: 16px; 
    text-align: left;
    font-family: Gothan Book;
    font-weight: bold;
    font-size: 17px;
    color: $hd-gray;
    padding-top:25px;
  }
  
  li::before {
    content: "-"; /* Insert content that looks like bullets */
    padding-right: 1px;
    color: $hd-gray; /* Or a color you prefer */
  }
}

.bg-obj{
  background-color: $hd-light;
  padding: 40px;
}
.obj-btn{
  
  p{
    a{
      background-color: $hd-green;
      text-decoration: none;
      color: $hd-white;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 25px;
      padding-right: 25px;
      font-family: Gothan Book;
      font-size: 25px;
      border-radius: 5px;
    } 
  }
}

.bg-temario{
  background-color: $hd-purple;
  color: $hd-white;
  padding:40px;
}

.tem-title{
  h1{
    font-family: Gothan;
    font-weight: bold;
    border-bottom: 2px $hd-green solid;
  }
}

.tem-sub{
  padding-top: 20px;
  p{
    font-family: Gothan Book;
    font-weight: bold;
    padding-left: 19px;
    
    font-size: 17px;
    margin-bottom: 0px;
  }
}
.tem-list{
  /* Custom HTML bullets */
  ul {
   list-style: none; /* Remove HTML bullets */
   padding: 0;
   margin: 0;
 }
 
 li { 
   padding-left: 16px; 
   text-align: left;
   font-family: Gothan Book;
   font-weight: bold;
   font-size: 17px;
   color: $hd-white;
   padding-top:25px;
 }
 
 li::before {
   content: "-"; /* Insert content that looks like bullets */
   padding-right: 1px;
   color: $hd-white; /* Or a color you prefer */
 }
}

.tem-btn{
  padding-top: 50px;
  p{
    padding-top: 20px;
    a{
      background-color: $hd-green;
      text-decoration: none;
      color: $hd-white;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 25px;
      padding-right: 25px;
      font-family: Gothan Book;
      font-size: 25px;
      border-radius: 5px;
    } 
  }
}

.col-tem{
  padding-top: 80px;
  padding-bottom: 80px;
  /* Custom HTML bullets */
  ul {
    list-style: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;
  }
  
  li { 
    padding-left: 16px; 
    text-align: left;
    font-family: Gothan Book;
    font-weight: bold;
    font-size: 17px;
    color: $hd-gray;
    padding-top:15px;
  }
  
  li::before {
    content: "-"; /* Insert content that looks like bullets */
    padding-right: 1px;
    color: $hd-gray; /* Or a color you prefer */
  }
  img{
    width: 45%;
    height: auto;
  }
}

/* ADMISION */

.ins-title{
  padding:20px;
  h1{
    text-align: center;
    font-family: Gothan;
    font-weight: bold;
    color: $hd-green;
  }

}

.ins-item{
  text-align: center;
  padding:40px;

  
  h1{
    font-family: Gothan;
    padding-top: 20px;
    font-weight: bold;
    color: $hd-gray;
  }

  p{
    font-family: Gothan Book;
    font-weight: bold;
    color: $hd-gray;
    padding-top: 10px;
  }
}

.bbva{
  width: 80%;
  height: auto;
}

/* Modal */

.modal-dialog{
  
}

.modal.fade .modal-dialog.modal-dialog-zoom {
  -webkit-transform: translate(0,0)scale(.5);
  transform: translate(0,0)scale(.5);
}
.modal.show .modal-dialog.modal-dialog-zoom {
  -webkit-transform: translate(0,0)scale(1);
  transform: translate(0,0)scale(1);
}

.modal-content  {
  /*max-height: calc(100vh - 200px);
  overflow-y: auto;*/
  border: 0px;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
}

.bg-sap{
  background-color: $hd-purple;
  height: 600px;
  img{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
.modal-row{
  padding:0px;
}

.sap-content{
  padding-top: 120px;
  text-align: center;
  h5{
    font-family: Gothan;
    font-weight: bold;
    color: $hd-green;
  }

  p{
    padding-top: 40px;
    font-family: Gothan Book;
    font-weight: bold;
    color: $hd-gray;
  }
}

.sap-item{
  padding-top: 30px;
  img{
    width: 90px;
    height: auto;
    /*box-shadow: 7px 7px 7px 7px;*/
  }

  p{
    padding-top: 15px;
  }
}
.mensaje {
  visibility: hidden;
}

.response{
  text-align: center;
  padding-bottom: 15px;
  img{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;
    height: auto;
  }
  h4{
    padding-top: 5px;
    padding-bottom: 10px;
    color: $hd-white;
    font-family: Gothan Book;
    font-weight: bold;
  }

  p{
    text-align: justify;
    color: $hd-white;
    font-size: 14px;
    font-family: Gothan Book;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
}

.after-post{
  // TODO: Ajustar el tamaño del icono de exito
  img{
    width: 10%;
    height: auto;
  }
}


#social-button {
  position: fixed;
  bottom: 280px;
  right: 10px;
  width: 70px;
  img{
    width: 70px;
    height: auto;

    padding-bottom: 10px;
  }
}